#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {

    keymap {
        compatible = "zmk,keymap";

        BASE {
            bindings = <
&kp W  &kp W  &kp E  &kp R         &kp T        &kp Y        &kp U            &kp I      &kp O    &kp P
&kp A  &kp S  &kp D  &kp F         &kp G        &kp H        &kp J            &kp K      &kp L    &kp SEMI
&kp Z  &kp X  &kp C  &kp V         &kp B        &kp N        &kp M            &kp COMMA  &kp DOT  &kp SLASH
                     &lt 1 ESCAPE  &lt 2 SPACE  &lt 3 ENTER  &lt 4 BACKSPACE
            >;
        };

        NUM {
            bindings = <
&trans  &trans  &trans      &trans       &trans  &trans  &kp N7        &kp N8        &kp N9        &trans
&trans  &trans  &trans      &trans       &trans  &trans  &kp NUMBER_4  &kp N5        &kp NUMBER_6  &trans
&trans  &trans  &kp K_COPY  &kp K_PASTE  &trans  &trans  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans
                            &trans       &trans  &kp N0  &trans
            >;
        };

        NAV {
            bindings = <
&trans  &trans  &trans  &trans   &trans  &trans    &kp HOME  &kp END       &trans     &trans
&trans  &trans  &trans  &kp TAB  &trans  &kp LEFT  &kp DOWN  &kp UP_ARROW  &kp RIGHT  &trans
&trans  &trans  &trans  &trans   &trans  &trans    &trans    &trans        &trans     &trans
                        &trans   &trans  &trans    &trans
            >;
        };

        layer_5 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans  &trans
            >;
        };

        SYM {
            bindings = <
&trans       &kp PLUS   &kp ASTRK  &kp LEFT_BRACE        &trans  &trans  &kp RIGHT_BRACE        &kp DOUBLE_QUOTES  &kp BACKSLASH  &trans
&kp CARET    &kp MINUS  &kp EQUAL  &kp LEFT_PARENTHESIS  &kp LT  &kp GT  &kp RIGHT_PARENTHESIS  &kp APOS           &kp PIPE       &kp DOLLAR
&kp PERCENT  &kp EXCL   &kp AMPS   &kp LEFT_BRACKET      &trans  &trans  &kp RIGHT_BRACKET      &kp GRAVE          &kp HASH       &kp AT
                                   &trans                &trans  &trans  &trans
            >;
        };

        NUM_ADJUST {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans   &kp F7  &kp F8  &kp F9  &trans
&trans  &trans  &trans  &trans  &trans  &trans   &kp F4  &kp F5  &kp F6  &kp F12
&trans  &trans  &trans  &trans  &trans  &trans   &kp F1  &kp F2  &kp F3  &kp F11
                        &trans  &trans  &kp F10  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        num_adjust {
            if-layers = <1 4>;
            then-layer = <5>;
        };
    };
};
